.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
ol {
  padding: 0;
  li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
    .card:hover {
      border: 1px solid black;
    }
  }
}
